* {
    margin: auto;
    padding: 0;
    height: 100%;
}

body {
    display: grid;
    height: 50vw; 
    grid-template-columns: 1fr 2fr;
}

.cover {
    opacity: 1;
}

information {
    display: inline;
    height: 50vw;
}

.turn {
    height: auto;
    position: relative; 
    top: 4vw;
    padding-top: 5vw;
    font-size: 3vw;
}

board {
    display: grid;
    width: 40vw;
    height: 40vw;
}

h1 {
    margin: 10px;
}

ul {
    display: grid;
    grid-template-columns: 1fr;
}

.rows {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50%;
}

li {
    list-style: none;
    display: grid;
    place-items: center;
    font-size: 0px;
}

.box {
    width: 5vw;
    height: 5vw;
    outline: 10px;
    outline-color: black;
}

#tog {
    margin: 10px 0px;
}

.cover{
    background-color: rgb(0, 128, 0);
    opacity: 0.3;
    position: absolute;
    height: 5vw;
    width: 5vw;
}

.allimg {
    width: 50%; 
    height: 75%;
    position: relative;
    align-items: center;
}

.pawn {
    transform: scale(.7);
}

.authcont {
    width: 100vw;
}

.author {
    float: right;
    margin-right: 50px;
}


@media (max-width:650px){

    #tog {
        margin-bottom: 70px;

    }

    .box {
        width: 11vw;
        height: 11vw;
    }

    .allimg {
        width: 7vw;
    }
}